html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section{
  height: 100%;
  width: 100%;
  background: url(assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.pageabout{
  height: 100%;
  width: 100%;
  background: url(assets/img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.pagereservasi{
  height: 100%;
  width: 100%;
  background: url(assets/img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.container{
  height: 100%;
  width: 100%;
  background: rgba(42, 38, 61, 0.82);
}
.logo{
  position: absolute;
  width: 165px;
  height: 165px;
  left: 600px;
  top: 70px;
}
.header{
  position: absolute;
  left: 476px;
  right: 476px;
  top: 223px;
  bottom: 329px;
}
.header h1{
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF
}
.header span{
  color: #FCB371;
}
.tagline{
  position: absolute;
  width: 200px;
  height: 16px;
  left: 590px;
  top: 405px;
}
.tagline p{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.btnabout{
  position: absolute;
  left: 520px;
  top: 481px;
}
.btnabout input{
  border: 2px solid #FCB371;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  width: 156px;
  height: 46px;
}
.textaboutbtn{
  position: absolute;
  width: 50px;
  height: 21px;
  left: 570px;
  top: 485px;
}
.textaboutbtn h1{
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #FCB371;
  display: flex;
  align-items: center;
  text-align: center;
}
.btnreservasi{
  position: absolute;
  width: 156px;
  height: 46px;
  left: 695px;
  top: 481px;
}
.btnreservasi input{
  background: #FCB371;
  border-radius: 6px;
  width: 156px;
  height: 46px;
  border: none;
  cursor: pointer;
}
.textreservasibtn{
  position: absolute;
  width: 61px;
  height: 21px;
  left: 740px;
  top: 485px;
}
.textreservasibtn h1{
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-item{
  position: absolute;
  left: 50px;
  top: 40px;
}
.nav-item i{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  size: 100%;
  color: #FCB371;
  font-size: 50px;
}
.textabout{
  position: absolute;
  left: 520px;
  right: 541px;
  top: 140px;
  bottom: 465px;
}
.textabout h1{
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 84px;
  text-align: center;
  color: #FCB371;
}
.textpenjelas{
  position: absolute;
  width: 768px;
  height: 190px;
  left: 285px;
  top: 270px;
}
.textpenjelas h1{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
}
.textreservasi{
  position: absolute;
  left: 518px;
  right: 519px;
  top: 25px;
  bottom: 578px;
}
.textreservasi h1{
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 84px;
  text-align: center;
  color: #FCB371;
}
.layout{
  display: flex;
  flex-direction: row;
  padding: 16px;
}
.inputname{
  position: absolute;
  left: calc(50% - 382px/2);
  top: calc(50% - 46px/2 - 128px);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.inputname input{
  position: static;
  width: 350px;
  height: 40px;
  left: 16px;
  top: 16px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
}
.inputemail{
  position: absolute;
  left: calc(50% - 382px/2 + 0.5px);
  top: calc(50% - 46px/2 - 66px);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.inputemail input{
  position: static;
  width: 350px;
  height: 40px;
  left: 16px;
  top: 16px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #A9A9A9;
}
.inputphone{
  position: absolute;
  left: calc(50% - 177px/2 - 102px);
  top: calc(50% - 46px/2 - 4px);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.inputphone input{
  position: static;
  width: 177px;
  height: 46px;
  left: 16px;
  top: 16px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
}
.inputnegara{
  position: absolute;
  left: calc(50% - 189px/2 + 97px);
  top: calc(50% - 46px/2 - 4px);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.inputnegara select{
  position: static;
  width: 177px;
  height: 50px;
  left: 16px;
  top: 16px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
  cursor: pointer;
}
.inputabout{
  position: absolute;
  width: 370px;
  height: 116px;
  left: calc(50% - 382px/2 + 0.5px);
  top: calc(50% - 116px/2 + 93px);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.inputabout textarea{
  position: absolute;
  width: 350px;
  height: 100px;
  left: 10px;
  top: 6px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
  border: none;
}
.resersubmit{
  position: absolute;
  width: 372px;
  height: 53px;
  left: calc(50% - 383px/2 + 0.5px);
  top: calc(50% - 53px/2 + 209.5px);
  border: none;
  background: #FCB371;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;  
}
.resersubmit input{
  position: static;
  width: 370px;
  height: 53px;
  left: 16px;
  top: 16px;
  border: none;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
}